.box1 {width: 70x; height: 100px; background-color: red;font-size: 50px;}
.box {width: 150%; height: 125%; background-color: blue;font-size: 2em;}


.newdiv {background-color: #FF5080; width: 10vw; height: 50vh;color: rgba(255, 255, 255, 1);}
.newdiv1 {background-color:rgba(255, 75, 110, 0.8);width: 10vw; height: 50vh; color: #FFFFFF;}